 

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,400&family=PT+Serif:wght@700&family=Raleway:wght@300;500;600;700&family=Roboto+Condensed&family=Source+Sans+Pro:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&family=Roboto:wght@500&display=swap');



body{
    margin: 0px;
    padding: 0px 5%;
    height: 100vh;
    background-color:#111111;
    font-family: "Poppins";

}

.brand-img{
    flex: 1;
    margin: auto;
}
.nav-logo{
display: block;
}
.brand-img img{
height: 35px;
}
.logo{

}  
nav{
    display: flex;
    flex-direction: row;
    height: 20vh;
    align-items: center;
}
nav .nav-items{
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    
   
}

.nav-link{
    text-decoration: none;
    color:#e5e5e5;
    font-family: 'Montserrat';
    font-size: 14px;

}
.nav-link:hover{
    opacity:0.6;
}

.container{
   
    height: 80vh;
 }

 .wrap{
    display: flex;
    flex-direction: row;
    flex: 1;
 }
.col{
    display: flex;
    flex:0.5;
    min-height: 100%;
}
.col-1{
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.guy-img{
    height: 580px;
  
}
.col-2{
    flex-direction: column;
    justify-content:center;
    align-items: flex-start;
    margin: 10px 0px;
}
.col-2 h1{
    color: #fff;
    margin:10px 0px;
    font-family: 'Montserrat';
    font-size: 62px;
    font-weight: 600;

}
.col-2 h3{
    color: #f83141;
    font-weight: 500;
    font-family: 'Montserrat';
    font-size: 25px; margin: 0;

}
.col-2 p{
    color: #d8d8d8;
    font-size: larger;
    font-family: 'Montserrat';
    margin: 0;
}
.col-2 button{
    background-color: #f83141;
    color: #fff;
    padding: 14px 30px;
    border: none;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 20px;
    cursor: pointer;
}
button:hover{
    opacity: 0.7;
}
.about-portfolio{
    display: flex;
   position: relative;
    flex-direction: row;
    margin-top: 40px;
    justify-content: end;
}
.red-bg{background-color: #f83141!important}
.col-white{ color: #fff!important;}
.box{
    background-color: #1e1e1e;
    padding: 30px;
    justify-content: flex-start;
    flex: 0.3;
    height: fit-content;
    margin: 0px 11px;
    cursor: pointer;
}
.box:hover{
    opacity: 0.7;
    border-inline: solid 1px #ddd;
}
.box img{
    height: 80%;
}

.box h2{
 color: #fff;
 font-family: sans-serif;
    font-weight: 400;

 
}
.box p{
    color: #fff;
}
.box-link{
    text-transform: uppercase;
    color: #f83141;
    cursor: pointer;
    text-decoration: none;
    font-weight: 700;
}
.expe-box{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    margin: 70px 0px;
}
.expe-box .exp12{
    flex: 0.4;
    display: flex;
    flex-direction: column;
    align-content: baseline;
    text-align: center;
}
.exp12 h1{
    font-size: 50px;
    color: #f83141;
    font-family: sans-serif;
    font-size: 100px;
    font-weight: 800;
    margin-bottom: 0px;
    margin-top: 0px;
}
.exp12 h2{
    color: #fff;
    margin-top: 0px;
}
.box-right{
    display: flex;
    flex: 0.6;
    flex-direction: column;
    justify-content:space-evenly;
}
.box-right .box-small{ background-color: #1e1e1e;
    background-color: #1e1e1e;
    padding: 30px;
    justify-content: center;
    flex: 1;
    margin: 10px 10px;
    height: 14vh;
    display: flex;
    flex-direction: column;
    text-align: center;
   }
   .box-right .box-wrap{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
   }
.box-small h1{
    color: #f83141;
    font-size: 50px;
    margin: 0px;
    font-weight: bold;
}

.box-small p{
color: #d8d8d8;
font-size: large;
margin-top: 4px;
}

/* project */

.project {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 34px;

}
.proleft h1{
    color: #fff;
    margin: 0px;
    font-family: 'Open Sans';
    font-weight: 600;
    
}
.project p{
    color: #d8d8d8;
font-size: large;
margin-top: 4px;
}

 .project button{
    background-color: #f83141;
    color: #fff;
    padding: 13px 60px;
    border: none;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 36px;
    cursor: pointer;
}
button:hover{
    opacity: 0.7;
}


.pro-box{
    justify-content: flex-start;
    flex:1;
    height: fit-content;
    margin: 11px 11px;
    cursor: pointer;
    text-align: center;
}
.pro-img{
    background-color: #1e1e1e;
    flex-direction: column;
    padding: 70px 0px;
   
}

.pro-box h2{
    text-align: left;
    margin-bottom: 8px;
    color: #fff;

}

.pro-box:hover{
    opacity: 0.7;
   
}
.pro-link{
    text-transform: uppercase;
    color: #f83141;
    cursor: pointer;
    text-decoration: none;
    font-weight: 700;
    text-align: left;
    justify-content: flex-start;
    display: flex;
}


.contact {
    display: flex;
    justify-content: space-between;
    margin-top: 34px;
    background-color: #1e1e1e;
    padding: 61px;
    align-items: center;
}

.contact  h1{
    color: #fff;
    margin: 0px;
    font-family: 'poppins';
    font-weight: 600;
    font-size: 56px;
    
}
.contact p{
    color: #d8d8d8;
    font-size: large;
    margin-top: 4px;
}

 .contact button{
    background-color: #f83141;
    color: #fff;
    padding: 13px 60px;
    border: none;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 36px;
    cursor: pointer;
}
button:hover{
    opacity: 0.7;
}
ul.btm-nav {
    list-style-type: none;
    margin: 30px 0px;
    display: flex;
    flex-direction: row;
    justify-content: SPACE-EVENLY;
    PADDING: 30PX 340PX;
}
.btm-nav li{
    text-decoration: none;
    color: #fff;

}
.btm-nav li:hover{
    opacity: 0.9;
}

.footer{
    display: flex;
    justify-content: space-around;
    margin-top: 24px;
    background-color: #1e1e1e;
    align-items: center;
    padding: 22px;
   
}

 
.footer .logo {
    height: 35px;
}
.footer-right{
    display: flex;
    justify-content: space-between;  
}
.social-media{
    justify-content: space-around;
    display: flex;
    padding: 0px 30px;
}
.social-media img{
    padding: 0px 20px;
}
.clr-white{
    color: rgb(255, 255, 255)!important;
}

.bg-position{
    position: absolute;
    background-color: #181818;
    width: 50%;
    top: -44px;
    left: 0px;
    z-index: -99;
    height: 127vh;
   
}
.color-white{ color: #fff; font-size: 30px;}


@media only screen and (max-width: 1200px) {
    /* body {
      background-color: green;
    } */
    .brand-img{height: 50%;}

     nav .nav-items{
        display: none;
    }
    nav .nav-menu-icon{
        display: block;
        margin: auto;
    }
}
@media  screen and (min-width: 1240px) {

    nav .nav-menu-icon{
        display: none;
       
    }
}
@media  screen and (max-width: 700px) {
    body {
      /* background-color: lightblue; */
      overflow-x: hidden;
    }

    nav .nav-items{
        display: none;
    }
    nav .nav-menu-icon{
        display: block;
        margin: auto;
    }

    .col-1{
        overflow: hidden;
        display: flex;
        justify-content: center;
    }
    .guy-img{
        height: 300px;
      
    }
    .col-2{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 24px 0px;
    }

    nav {
        display: flex;
        flex-direction: row;
        height: 11vh;
        align-items: center;
    }

    .wrap {
       
        flex-direction: column;
       
    }

    .col-2 h1{font-size: 35px;}
    .col-2 p{
       
    font-size: small;
   
    text-align: center;
    }
    .box{
        margin: 6px 11px;
    }
    .about-portfolio {
        display: flex;
        position: relative;
        flex-direction: column;
        margin-top: 0px;
        justify-content: center;
    }
    .bg-position{
        display: none;
    }

    .expe-box {
        display: flex;
        /* justify-content: space-between; */
        align-items: center;
        margin: 7px 0px;
        flex-direction: column;
    }

    .box-right .box-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;

  }

  .project {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 34px;
}
.project p{
    text-align: center;
}
.project button{
    margin-top: 1px;
}
.pro-box {
     
    margin: 13px 11px;
   
}

.pro-img {
     padding: 30px 0px;
}
.pro-img img{
    width: 280px;
}

.contact {
    display: flex;
    justify-content: space-between;
    margin-top: 4px;
    background-color: #1e1e1e;
    padding: 14px;
    align-items: center;
    flex-direction: column;
}
.contact p {
    color: #d8d8d8;
    /* font-size: large; */
    margin-top: 4px;
    text-align: center;
}
.contact h1{
    text-align: center;
    font-size: 26px;
}

.contact button {
   
    padding: 13px 60px;
  
    font-size: 20px;
  
    margin-top: 3px;
  
}
.footer {
    display: flex;
    justify-content: space-around;
    margin-top: 0px;
    background-color: #1e1e1e;
    align-items: center;
    padding: 12px;
}
ul.btm-nav {
    list-style-type: none;
    margin: 4px 0px;
    display: flex;
    flex-direction: row;
    justify-content: SPACE-EVENLY;
    PADDING: 27PX 7PX;
}

.footer .logo {
    height: 24px;
}
}